<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <%= render "layouts/error_messages", message: @user %>
    <h2>User info</h2>
    <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
       <%= f.label :profile_image, "Image" %></br>
       <%= f.attachment_field :profile_image, placeholder: "ファイルを選択" %>
      </div>
      <div class="form-group">
        <%= f.label :introduction, "Introduction" %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Update User", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>