<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Bookers", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li><%= link_to " Home", user_path(current_user.id), class: "fas fa-home nav-link text-light" %></li>
          <li><%= link_to " Users", users_path, class: "fas fa-users nav-link text-light" %></li>
          <li><%= link_to " Books", books_path, class: "fas fa-book-open nav-link text-light" %></li>
          <li><%= link_to " logout", destroy_user_session_path,  class: "fas fa-sign-out-alt nav-link text-light", method: :delete %></li>
        <% else %>
          <li><%= link_to " Home", root_path, class: "fas fa-home nav-link text-light" %></li>
          <li><%= link_to " About", home_about_path, class: "fas fa-link nav-link text-light" %></li>
          <li><%= link_to " sign up", new_user_registration_path, class: "fas fa-user-plus nav-link text-light" %></li>
          <li><%= link_to " login", new_user_session_path, class: "fas fa-sign-in-alt nav-link text-light" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>